@import '../../../variables';

.wrapper {
  display: grid;
  place-content: center;
  border-radius: $border-radius;
  cursor: pointer;
  color: $elm-light;
  &:hover {
    color: $elm-hover-light;
  }

  @media (prefers-color-scheme: dark) {
    border-color: $border-dark;
    background-color: $bg-elm-dark;
    &:hover {
      background-color: $bg-elm-hover-dark;
    }
  }
}

.copyMessage {
  color: #000 !important;
  border-radius: $border-radius !important;
}

svg {
  width: 20px;
  height: 20px;
}
