.wrapper {
  display: grid;
  place-content: center;
  border-radius: var(--border-radius);
  cursor: pointer;
  color: var(--elm);
  &:hover {
    color: var(--elm-hover);
  }
}

.copyMessage {
  color: var(--elm) !important;
  background-color: var(--bg-elm) !important;
  border-radius: var(--border-radius) !important;
}

svg {
  color: var(--elm);
  width: 20px;
  height: 20px;
}
