.parts {
  display: flex;
  flex-flow: row wrap;
  row-gap: 10px;
}

.copy {
  display: grid;
  place-items: center;
  gap: 10px;
  margin-right: 10px;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.part {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
