.elements {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.copy {
  display: grid;
  // grid-template-rows: 1fr 1fr;s
  place-items: center;
  gap: 10px;
  margin-right: 10px;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
}
