@import 'react-toastify/dist/ReactToastify.min.css';
:root {
  --bg: #fff;
  --border: #242424;
  --border-radius: 8px;
  --elm: #242424;
  --elm-hover: #757575;
  --bg-elm: #fafafa;
  --bg-elm-hover: #f0f0f0;
  --bg-label: #dddbdb;
  --bg-label-hover: #242424;

  @media (prefers-color-scheme: dark) {
    --bg: #242424;
    --border: #fff;
    --elm: #fff;
    --elm-hover: #757575;
    --bg-elm: #1a1a1a;
    --bg-elm-hover: #1a1a1a;
    --bg-label: #555555;
    --bg-label-hover: #242424;
  }
}
:root {
  background-color: var(--bg);
}

// react-toastify
:root {
  --toastify-toast-width: 200px;
  --toastify-toast-background: var(--bg);
  --toastify-toast-min-height: 40px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: inherit;
}
